<footer>
    <section>
        <div>
            Copyright © {{ "now" | date: "%Y"}} gondo.<br>
            <a href="/app-privacy-policy">App privacy policy</a>
        </div>
        
        <div>
            <ul>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/pages/faq#contact">Contact</a></li>
                <li><a href="https://twitter.com/WOWidget" target="_blank">Twitter @WOWidget</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PL67akN97t0MuqzpTjMB7IR9tg02yDGRPN" target="_blank">Video tutorials</a></li>
            </ul>
        </div>

        <div>
            <a href="https://apps.apple.com/app/apple-store/id1515009616?pt=314498&ct=Website&mt=8" target="_blank"><img src="https://wowidget.github.io/images/app-store.png" alt="Download WOWidget from App Store" width="248" height="83"></a>
        </div>

    </section>
</footer>
