<div id="header-wrapper">
    <div id="banner">Introducing <a href="https://appio.so/?source=wowidget.github.io" title="Appio helps businesses add mobile features (like notifications and widgets) without the need to build or maintain an app, or deal with app store approvals.">Appio.so</a>, the business successor to WOWidget 🎉</div>
    <header class="no-selection">
        <div class="header__left">
            <a href="/" id="logo">
                <img src="/images/logo.png" height="32" width="32" alt="WOWidget">
                WOWidget
            </a>
        </div>
        <div class="header__right">
            <div id="menu-button">
                <span class="menu-first"></span>
                <span class="menu-last"></span>
            </div>
            <nav id="menu">
                <a href="/use-case">Use cases</a>
                <a href="/blog">Blog</a>
                <a href="/pages/faq">FAQ</a>
            </nav>
        </div>
    </header>
</div>

<script>
    let wrapper = document.getElementById("header-wrapper");
    let menu = document.getElementById("menu-button");
    menu.addEventListener("click", _ => {
        wrapper.classList.toggle("open");
    });
</script>